
<div class="modal-body">
  <h2 class="h2 orange text-center">{{ Usuario }}</h2>
  <h2 class="h2 orange text-center">¡Quieres Cancelar Tu Reserva!</h2>
  <hr clas="line--orange"> 
  <div class="row">
    <div class="col-md-12">
      <strong class="orange">¿ Estas  Seguro/a De Cancelar Tu Reserva?</strong>
    </div>
    <div class="col-md-6">      
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary--orange" (click)="cancelarreservar();" >Cancelar Reserva</button>
  <button type="button" class="btn btn-outline-primary--orange" (click)="cancelar();" >Omitir</button>
</div>