<!--  <app-slider></app-slider> -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h1 class="h1 orange center text-center mt-3 mb-5">
        "Your body is the temple you build inside our house".</h1>
    </div>
  </div>
</div>
<hr class="line">
<div class="container">
    <div class="row">
        <div class="col-md-3">
          <app-sidenav class="static" [active]="active" [list]="lista"></app-sidenav>
        </div>
        <div class="col-md-9">
          <h2 class="h2 orange">La experiencia</h2>
          <hr class="line--orange mb-5">
          <h3 class="h3 mt-4">Power House quiere que encuentres tu fuerza a través de una experiencia poderosa en un espacio holístico donde sabemos que el ejercicio transforma más allá del cuerpo.</h3>
          <h3 class="h3">No es el tiempo, no son las instalaciones, es como sales sintiéndote, esa energía compartida de un grupo de personas dando lo mejor.</h3>
        </div>
      </div>
</div>
<!-- Classes -->
<div class="home__classes">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <app-sidenav class="static mt-5 mb-3" [active]="indoorlink" [list]="lista"></app-sidenav>
              <button class="btn btn-primary mt-3">Ver Horario</button>
            </div>
            <div class="col-md-9">
              <h2 class="h2 white">Indoor cycling</h2>
              <hr class="line--white mb-5">
              <h3 class="h3 mt-4">Power House quiere que encuentres tu fuerza a través de una experiencia poderosa en un espacio holístico donde sabemos que el ejercicio transforma más allá del cuerpo.</h3>
              <h3 class="h3">No es el tiempo, no son las instalaciones, es como sales sintiéndote, esa energía compartida de un grupo de personas dando lo mejor.</h3>
            </div>
      </div>
  </div>
</div>
<!-- Rides -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-rides [items]="rides"></app-rides>
    </div>
  </div>
</div>
<!--HIIT-->
<div class="home__classes hiit">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <app-sidenav class="static mt-5 mb-3" [active]="hitlink" [list]="lista"></app-sidenav>
              <button class="btn btn-primary--aqua mt-3">Ver Horario</button>
            </div>
            <div class="col-md-9">
              <h2 class="h2 white">HIIT High Intensity Interval Training</h2>
              <hr class="line--white mb-5">
              <h3 class="h3 mt-4">Power House quiere que encuentres tu fuerza a través de una experiencia poderosa en un espacio holístico donde sabemos que el ejercicio transforma más allá del cuerpo.</h3>
              <h3 class="h3">In a dim, candlelit room led by inspiring instructors, you surrender to the beat of the music and get lost in the energy of the room. You move, you ride, and you push towards the finish line - together.</h3>
            </div>
      </div>
  </div>
</div>
<!-- Rides -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-rides [items]="hiits"></app-rides>
    </div>
  </div>
</div>
<!-- Classes -->
<div class="home__classes powerteam">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <app-sidenav class="static mt-5 mb-3" [active]="powerlink" [list]="lista"></app-sidenav>
              <button class="btn btn-primary mt-3">¡Conoce al Power Team!</button>
            </div>
            <div class="col-md-9">
              <h2 class="h2 white">Power Team</h2>
              <hr class="line--white mb-5">
              <h3 class="h3 mt-4">Nuestro equipo de coaches...</h3>
            </div>
      </div>
  </div>
</div>
<app-studio-slider></app-studio-slider>
<!-- Motto -->
<div class="home__classes motto">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <app-sidenav class="static mt-5 mb-3" [active]="powerlink" [list]="lista"></app-sidenav>
            </div>
            <div class="col-md-9">
              <h2 class="h2 white">
              It’s not about the ass. <br>
              It’s not about the likes. <br>
              It’s not about the looks. <br><br>
            </h2>

            <h2 class="h2 white">
            It’s about feeling the vibe. It’s about connecting. <br>
            It’s about you. <br>
            It’s about the power. <br><br>
          </h2>

            <h2 class="h2 white">
              Welcome.<br>
              This is your place. <br>
              This is your team. <br>
              This is your vibe. <br>
              This is your moment. <br>
              This is your<br>
              POWERHOUSE.
            </h2>
      </div>
  </div>
</div>
