<div class="container mid-margin">
  <div class="col-md-12">
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      <h2 class="h2 orange text-center">Desea Agregar al Carro de Venta?</h2>
      <hr class="line--orange">    
      <div class="form-group text-center">  
          <button type="submit" class="btn btn-primary" (click)="aceptar()">SI</button>
          <button type="submit" class="btn btn-primary" (click)="rechazar()">NO</button>
      </div>
  </div>
</div>