<ngb-alert type="custom"  class="over" [dismissible]="false" *ngIf="welcome">
    <h2 class="h2">Para reservar tu lugar, compra una clase.</h2>
</ngb-alert>
<div class="container-lugares" *ngIf="welcome">
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <h1 class="classes__heading aqua">Train</h1>
            
            <h2 class="classes__date aqua mt-3 mb-3">{{class.Fecha}}
            </h2>
            <p class="classes__coach orange">1.5 mts entre cada lugar por sana distancia</p>
            <p class="classes__coach">Coach: {{class.Instructor}}</p>
            <p class="classes__coach">{{class.Actividad}}</p>
        </div>
    </div>
    <!--Row of bikes and photo-->
    <div class="row">
        <!--First column of bikes -->
        <div class="col-2 offset-2">
          <div class="row mb-2 mt-5">
              <div class="col-6 text-center">
                <span class="classes__bike aqua" *ngIf="bikes[0].LugarInactivo==1" (click)="bikes[0].NFK_Usuario != 0 || select(bikes[0])" [ngClass]="{'active' : bikes[0].Estatus }">{{bikes[0].LugarSalon}}</span>
                <span *ngIf="bikes[0].LugarInactivo==0"></span>
              </div>
              <div class="col-6 text-center">
                  <span class="classes__bike aqua" *ngIf="bikes[1].LugarInactivo==1" (click)="bikes[1].NFK_Usuario != 0 || select(bikes[1])" [ngClass]="{'active' : bikes[1].Estatus }">{{bikes[1].LugarSalon}}</span>
                  <span *ngIf="bikes[1].LugarInactivo==0" ></span>
              </div>
          </div>

        </div>
        <!--Second column of avatar-->
        <div class="col-4">
          <div style="text-align: center;">
            <img class="classes__avatar" [src]="class.Fotografia" alt="">
          </div>
        </div>
        <!--Third column of bikes-->
        <div class="col-3">
            <div class="row mb-2 mt-5">
                <div class="col-4 text-center">
                    <span class="classes__bike aqua" *ngIf="bikes[2].LugarInactivo==1" (click)="bikes[2].NFK_Usuario != 0 || select(bikes[2])" [ngClass]="{'active' : bikes[2].Estatus }">{{bikes[2].LugarSalon}}</span>
                    <span *ngIf="bikes[2].LugarInactivo==0" ></span>
                </div>
                <div class="col-4 text-center">
                    <span class="classes__bike aqua" *ngIf="bikes[3].LugarInactivo==1" (click)="bikes[3].NFK_Usuario != 0 || select(bikes[3])" [ngClass]="{'active' : bikes[3].Estatus }">{{bikes[3].LugarSalon}}</span>
                    <span *ngIf="bikes[3].LugarInactivo==0" ></span>
                </div>
                <div class="col-4 text-center">
                    <span class="classes__bike aqua" *ngIf="bikes[4].LugarInactivo==1" (click)="bikes[4].NFK_Usuario != 0 || select(bikes[4])" [ngClass]="{'active' : bikes[4].Estatus }">{{bikes[4].LugarSalon}}</span>
                    <span *ngIf="bikes[4].LugarInactivo==0"></span>
                </div>
            </div>
        </div>
    </div>
    <!--Row of bikes -->

    <div class="row mb-3 classes__bikestrain-row first mt-5">
        <div class="col-1  text-center" *ngFor="let bike of bikes | slice : 5:13" >
            <span  class="classes__bike aqua" *ngIf="bike.LugarInactivo==1" (click)="bike.NFK_Usuario != 0 || select(bike)" [ngClass]="{'active' : bike.Estatus }">{{bike.LugarSalon}}</span>
            <span *ngIf="bike.LugarInactivo==0"></span>
        </div>
        
    </div>
    <div class="row mb-3 classes__bikestrain-row first">
            
        <div class="col-1  text-center" *ngFor="let bike of bikes | slice : 13:20" >
            <span class="classes__bike aqua" *ngIf="bike.LugarInactivo==1" (click)="bike.NFK_Usuario != 0 || select(bike)" [ngClass]="{'active' : bike.Estatus }">{{bike.LugarSalon}}</span>
            <span *ngIf="bike.LugarInactivo==0"></span>
        </div>
        
    </div>

    
</div>
