
<div class="modal-body">
  <h2 class="h2 orange text-center">Hola usuario Powerhouse</h2>
  <hr clas="line--orange"> 
  <div class="row">
    <div class="col-md-12">
      <strong class="orange">Por el momento la compra de clases será únicamente en el local por medio de efectivo o tarjeta. Encuentra la dirección de Powerhouse en la pestaña de Contacto.</strong>
      <br>
      <br>
      <br>
      <strong class="orange">¡Estamos trabajando para mejorar tu experiencia, nos vemos en Powerhouse!</strong>
    </div>
    <div class="col-md-6">      
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary--orange" (click)="cancelar();" >Regresar</button>
</div>