@import "var";
.encImage {
  width: 800px;
  height: $toolbar-height;
  @include mat-elevation($toolbar-elevation);

  .button {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
  }

  @include media-xs {
    padding-left: $spacing/3;
  }
}

.rotate {
  transform: rotate(270deg);
  background-color: #1F1F1F;
  height: 3px;
  width: 125%;
}

.progress-bar-custom {
  background-color: white;
}
.toolbar {
  background: $toolbar-background;
  padding-right: 0;
  height: $toolbar-height;
  padding-left: $spacing;
  max-width: 100%;

  @include mat-elevation($toolbar-elevation);

  .button {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
  }

  @include media-xs {
    padding-left: $spacing/3;
  }
}
