<div class="container" *ngIf="welcome">
  <div class="row">
    <div class="col-md-3 mb-5">
      <app-userdata></app-userdata>
    </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <app-sidenav [active]="active" [list]="list"></app-sidenav>
      </div>
      <div class="col-md-1">
      
      </div>
    <div class="col-md-7 text-center">
      <h2 class="h2 orange">{{title}}</h2>
      <hr class="line--orange">
      <button class="btn btn-outline-primary--orange" (click)="ReservarHiit();" >Reserva Ride</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-primary--aqua" (click)="ReservarTrain();" >Reserva Train</button>
      <h3 class="h1 mt-5 mb-5 text-center" *ngIf="Reservas.length == 1">¡Tiene {{ Reservas.length }} clase reservada!</h3>
      <h3 class="h1 mt-5 mb-5 text-center" *ngIf="Reservas.length > 1">¡Tienes {{ Reservas.length }} clases reservadas!</h3>
      <h3 class="h1 mt-5 mb-5" *ngIf="Reservas.length === 0">No tienes clases reservadas</h3>
      
      <hr>
      <ul class="line-list" *ngIf="Reservas.length > 0">
        <li class="line-list__item" *ngFor="let clase of Reservas">
          <table width="100%"><tr>
          
          <td width="60%"><h4 class="h4">{{ clase.Fecha }}</h4>
          <p>{{ clase.Clase }} por <a href="#">{{ clase.Instructor }}</a> Lugar: {{ clase.SalonLugar }}</p>
          </td>
          <td width="40%" style="text-align:center" *ngIf="clase.PuedeCancelar === 1"> 
            <button class="btn btn-outline-primary--orange" (click)="CancelarReserva(clase);" >Cancelar</button>
          </td>
          <td width="40%" style="text-align:center" *ngIf="clase.PuedeCancelar === 0">  
            &nbsp;
          </td>
          <!-- <td style="text-align: right;align-content: right;vertical-align: middle;">  
            <button class="btn btn-outline-primary--{{clase.Color}}" (click)="CambiarLugarReserva(clase);" >Cambiar Lugar</button>
            </td> -->
          </tr>
          </table>
        </li>
      </ul>
      
    </div>
  </div>
</div>