<div  class="container">
  <p class="block_"><b class="calibre2">-FAQ -</b> PREGUNTAS FRECUENTES POWERHAUS S.A. DE C.V. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">1. ¿Qué tipos de clase hay y en que consiste cada una?</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Existen dos tipos de entrenamiento: RIDE y TRAIN.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Ride: (Indoor Rhythmic Cycling Training) Consiste en un entrenamiento de cuerpo completo, dónde mayormente se trabaja lo cardiovascular en alta intensidad, acompañado de pierna, brazo y abdómen al ritmo de la música sobre una bicicleta estática.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">TRAIN (Strength Rhythmic Training) Consiste en un entrenamiento de fuerza y resistencia más específico y  enfocado en ciertas áreas del cuerpo, dónde se trabajará por intervalos al ritmo de la música, bajo una supervisión más personalizada.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">2. Cuanto duran las clases?</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">La mayoría de las clases tienen una duración de 45 minutos, a excepción de algunas clases especiales que serán de 60 y 90 minutos, las cuales vendrán publicadas dentro del calendario de clases en la página web.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">3. ¿Cómo puedo reservar?</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">A través de nuestra página web <a href="http://www.mypowerhouse.mx" class="text_">www.mypowerhouse.mx</a>, siguiendo el proceso de registro y comprando ya sea una clase individual o por paquete. Al comprar un paquete, se puede utilizar para cualquiera de los dos salones, esto con el fn de complementar y obtener un entrenamiento más completo.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">4. ¿Me puedo festejar en Powerhouse?</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Claro!  Las clases son publicadas una semana antes, es por eso que es responsabilidad del festejado(a) estar a pendiente de la publicación de clases para poder reservarle los lugares a sus invitados.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_"><b class="calibre2">5. ¿Existen membresías o mensualidades?</b> </p>
	<p class="block_">No, en Powerhouse  estamos convencidos de que los usuarios deben pagar únicamente por lo que consumen, por eso es que nuestro esquema es de “Pago por clase o por paquete”. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">6. ¿Cuál es la política de cancelación? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Contamos con una política de cancelación de 8 horas previas a la clase, sin ningún cargo o penalidad para el usuario. Las clases canceladas serán liberadas y se podrán volver a usar para reservar posteriormente. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">7. ¿Cómo puedo pagar las clases? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Podrás pagar en línea usando tarjeta de crédito o débito. Los pagos en efectivo sólo se podrán realizar directamente en las instalaciones de Powerhouse S.A. de C.V. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">8. ¿Expiran las clases pagadas? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Dependiendo el paquete de clases que adquieras, tendrás desde 30 hasta 280 dias a partir del día de tu compra para utilizar tu clase, según la siguiente tabla: </p>
	<p class="block_1">&nbsp;</p>
	<table class="table_">
		<tbody class="calibre3"><tr class="calibre4">
			<td class="td_"><p class="block_3">1</p></td>
			<td class="td_1"><p class="block_3">30 días </p></td>
		</tr>
		<tr class="calibre4">
			<td class="td_2"><p class="block_3">6</p></td>
			<td class="td_3"><p class="block_3">60 días</p></td>
		</tr>
		<tr class="calibre4">
			<td class="td_2"><p class="block_3">12</p></td>
			<td class="td_3"><p class="block_3">120 días</p></td>
		</tr>
		<tr class="calibre4">
			<td class="td_2"><p class="block_3">24</p></td>
			<td class="td_3"><p class="block_3">180 días </p></td>
		</tr>
		<tr class="calibre4">
			<td class="td_2"><p class="block_3">36</p></td>
			<td class="td_3"><p class="block_3">280 días </p></td>
		</tr>
	</tbody></table>
	<p class="block_1">&nbsp;</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">9. ¿Cómo funciona la lista de espera? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Cuando una clase esté llena, podrás hablar al estudio para registrarse en la lista de espera o agregarte por medio de la página web.  Dichos usuarios, serán llamados 5 minutos antes de la clase. Si te encuentras en lista de espera, serás llamado en orden de registro. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">10. ¿Puedo llegar a las Instalaciones sin previa cita a tomar la clase? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Todos son bienvenidos a las Instalaciones de Powerhaus S.A de C.V, pero te recomendamos agendar una clase para asegurar tu lugar. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">11. Quiero agendar una clase para un amigo, ¿necesita tener una cuenta? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Si tu amigo quiere simplemente probar una clase, puedes reservar un mat o una bicicleta bajo tu cuenta de usuario. Después él/ella podrá activar su propia cuenta. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">12. ¿Existen vestidores y regaderas? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Sí, las Instalaciones cuentan con vestidores y regaderas para hombres y mujeres. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_"><b class="calibre2">13. ¿Necesito llevar agua?</b> </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Puedes traer tu termo y llenarlo con los dispensadores que se encuentran dentro de las instalaciones. El agua embotellada está disponible para su compra también. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">14. ¿Puede alguien cuidar a mi hijo? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Desafortunadamente, por el momento no contamos con el servicio de guardería. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">15. ¿Puedo usar cualquier tipo de tenis? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">En Powerhaus S.A. de C.V. contamos con Delta dual pedals, por lo cuál se pueden utilzar tenis de ruta y tenis de montaña, es decir, mountain cleats y cycling cleats. Es obligatorio utilizar cualquiera de estos dos tenis de ciclismo para lograr una experiencia completamente diferente y satisfactoria. Puedes traer los tuyos y si no tienes, nosotros te los prestamos en el estudio sin costo adicional.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">16. ¿Y si llego tarde? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Entendemos que una ciudad tan grande a veces llegar tarde es inevitable. Tenemos la política de no dejar ingresar al usuario a la clase después de la primer canción de haber iniciado la clase. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">17. ¿Alguien me instruirá en el uso de la bicicleta? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Claro, el instructor, y un amplio grupo de Personal estarán a tu disposición para ayudarte en todo momento con cualquier problema que puedas tener. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">18. ¿Cuántas calorías quemaré? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">El promedio de quema de calorías en la clase de Powerhouse es de 400 a 700 calorías por sesión. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Igualmente para una clase de TRAIN, dependiendo en que área del cuerpo esté enfocada la clase en ese día.</p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">19. ¿No me he ejercitado durante mucho tiempo, pueden ser muy difíciles las clases para tomarlas? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Cada clase está diseñada para que el usuario pueda ajustar la dificultad. Queremos que te retes a ti mismo de manera realista y saludable para que puedas progresar en el camino. Escoge un lugar en donde te sientas cómodo de acuerdo a tu nivel y desarrollo, y parte de ahí. En poco tiempo, si lo decides, estarás al frente de la fila. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">20. ¿Puedo tomar la clase si estoy embarazada? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Recomendamos no tomar las clases durante tu primer trimestre. Si decides pedalear por 2, deberás contar con un permiso nuestro y de tu doctor, te daremos un lugar cerca de la salida del ambiente controlado y deberás usar un monitor de ritmo cardiaco durante toda la clase. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2"> 21. ¿Existen restricciones de edad? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Usuarios menores a 14 años, deberán estar acompañados de un adulto. El requisito de altura es de 1.30 metros. </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_2">22. ¿Debería de comer antes o después de la clase? </p>
	<p class="block_1">&nbsp;</p>
	<p class="block_">Sí. Sin embargo, te recomendamos no comer durante los 30 minutos previos a tu clase y esperar entre 30 y 60 minutos para comer después de la misma.</p>
	<p class="block_1">&nbsp;</p>

</div>
  