<div class="padding">
  <h2 mat-dialog-title>Usuario</h2>
  
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
  
      <div>
        <div fxLayout="column"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px"> 
          <mat-form-field fxFlex>
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="Nombre" matInput required >
          </mat-form-field>
        </div>
      </div>
      <div>
        <div fxLayout="column"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px"> 
          <mat-form-field fxFlex>
            <mat-label>Apellidos</mat-label>
            <input type="text" formControlName="Apellidos" matInput required >
          </mat-form-field>
        </div>
      </div>
      <div>
        <div fxLayout="column"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px"> 
          <mat-form-field fxFlex>
            <mat-label>Telefono</mat-label>
            <input type="text" formControlName="Telefono" matInput  required>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div fxLayout="column"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px"> 
          <mat-form-field fxFlex>
            <mat-label>Fecha de Nacimiento</mat-label>
            <input type="text" formControlName="FechaNacimiento" matInput required >
          </mat-form-field>
        </div>
      </div>
      <div>
        <div fxLayout="column"  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px"> 
          <mat-form-field fxFlex>
            <mat-label>Correo</mat-label>
            <input type="text" formControlName="Correo" matInput  required>
          </mat-form-field>
        </div>
      </div>
  
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREAR USUARIO</button>
      <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">ACTUALIZAR USUARIO</button>
    </mat-dialog-actions>
  </form>
  </div>
  