<div class="padding">
  <h2 mat-dialog-title>TallaZapato</h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>

      <div>
        <div fxLayout="column" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>TallaZapato</mat-label>
            <input type="text" formControlName="TallaZapato" matInput required>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">CREAR TALLAZAPATO</button>
      <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">ACTUALIZAR TALLAZAPATO</button>
    </mat-dialog-actions>
  </form>
</div>
  