<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.9352022392277!2d-100.36913269058809!3d25.64325775792441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdc15c3a82b3%3A0x98acb20c9b80c886!2sCarrizalejo+101%2C+Valle+de+Chipinque%2C+66250+San+Pedro+Garza+Garc%C3%ADa%2C+N.L.!5e0!3m2!1ses-419!2smx!4v1560718405736!5m2!1ses-419!2smx" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h2 orange">Dirección</h2>
      <hr class="line--orange mb-5">
      <h1 class="h1">Av. Roberto Garza Sada</h1>
      <h3 class="h3">No. 101 Carrizalejo, 66254 <br>San Pedro Garza García, N.L.</h3>
      <h4 class="h3 mt-5"><a href="" class="orange">Ver horarios </a></h4>
      <ul class="social">
        <li class="social__item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li class="social__item"><a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="social__item"><a href=""><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="h2 orange">Teléfonos</h2>
      <hr class="line--orange mb-5">
      <h3 class="h3">81 1660 1292</h3>
      <h3 class="h3">81 1660 1293</h3>
    </div>
  </div>
</div>