<div class="container">
  <div class="row">
    <div class="col-md-3 mb-5">
      <app-userdata></app-userdata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-sidenav [active]="active"></app-sidenav>
    </div>
    <div class="col-md-9">
      <h2 class="h2 orange text-center">{{title}}</h2>
      <hr class="line--orange">
      <h3 class="h1 mt-5 mb-5 text-center">¡Has tomado 2 clases!</h3>
      <h3 class="h3">Clases recientes</h3>
      <hr>
      <ul class="line-list">
        <li class="line-list__item">
          <h4 class="h4">Sábado Nov 18 - 10:30AM</h4>
          <p>Power Pryramid por <a href="#">Tere Mtz</a> Bici/HIIT 12</p>
        </li>
        <li class="line-list__item">
          <h4 class="h4">Viernes Dic 22 - 7:00PM</h4>
          <p>Duro Ride por<a href="#">Mely</a> y <a href="#">Analu</a> Bici 15</p>
        </li>
      </ul>
      <button class="btn btn-primary">¡Reserva más clases!</button>
    </div>
  </div>
</div>