.calendar{
    &__card{
        border-radius: 0;
        margin-left:0 !important;
        margin-right: 0 !important;
        border-left:0 !important;
        &--title{
            background: #e9e9e9;
            text-align: center;
            margin-bottom: 0;
            padding:calculateRem(20px) calculateRem(15px);
            span{
                display: block;
            }
            &.active{
                color:$orange;
            }
        }
        &--number{
            font-size:calculateRem(13px);
            font-weight: 800;
        }
        &--child{
            border-radius: 0;
            border-right: 0;
            border-left: 0;
            border-bottom:0;
            margin-left:0 !important;
            margin-right: 0 !important;
            &--duration{
                text-transform: uppercase;
                font-weight: 600;
            }
            &--time{
                text-transform: uppercase;
                font-weight: normal;
                font-size:calculateRem(18px);
            }
            &--instructor{
                &:hover, &:visited{
                    color:#fff !important;
                }

            }
            &:hover{
                background: $orange;
                color:#FFF !important;
                a, a:visited, a:hover{
                    color:#FFF !important;
                }
            }
        }
    }
    
    //override bootstrap arrows
    .carousel-control-next, .carousel-control-prev{
        display:block;
        height: 32px;
        margin-top:calculateRem(20px);
    }
    .carousel-control-prev-icon{
        width:32px;
        height: 32px;
        left:33%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA1klEQVRYR+2UMQoCMRBF3/aewZPYi2DrAaw9hF7A2kPYCWpr4RW8gGewslEGNrDIFjPJZxckqUPey8+fNIy8mpH5VIGawF8lMAWe0alSJTADrsAe2EUkFAIJPmnBS+DslSgV+IUfgA3wGUKgGG6SuQlI4LkCMniOgBQeFbA5fwCp7RfAGu8uXF8xox2wGd+2B72BFXDyNl4hYGdIJaIJpEvIJHIFZEmUCEgkSgX6JObAzVtMhUBX4g4sgNfQAsZbA8cIPPoReS8V2qd6ghC0u7kK1ARqAl/VkS4hIXBRSQAAAABJRU5ErkJggg==');
    }
    .carousel-control-next-icon{
        width:32px;
        height: 32px;
        right:33%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA2klEQVRYR+3TMWoCQRgF4M9UgVSeIF4h6dIpFl5C8ATWqXMZLyCkUcGjaOUVLFKEAYUUJuzMP2QRxmoL2fft438DPf8GPedrgNbA3TbwiHONBZU0MMcHpjhEEbmAGT7xgCPGUUQu4AlrTC5fHkbkAlJuVUQJoCqiFFANEQFUQUQBV8QGbz8OMz2fuky0BuAVWwwvgSss8PUfgFB4AkYaCIdHAFXCSwHVwksAL9iVHtyto8y9gRH2eEbWtf+2iFxAek9CLPHedWp/zbEE0GXenf/TAK2B1kDvDXwDaeUvId1wEZQAAAAASUVORK5CYII=');
    }
}