
@font-face {font-family: 'Larsseit-ExtraBold';src: url('/assets/fonts/392028_0_0.eot');src: url('/assets/fonts/392028_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_0_0.woff2') format('woff2'),url('/assets/fonts/392028_0_0.woff') format('woff'),url('/assets/fonts/392028_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-BoldItalic';src: url('/assets/fonts/392028_1_0.eot');src: url('/assets/fonts/392028_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_1_0.woff2') format('woff2'),url('/assets/fonts/392028_1_0.woff') format('woff'),url('/assets/fonts/392028_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-ExtraBoldItalic';src: url('/assets/fonts/392028_2_0.eot');src: url('/assets/fonts/392028_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_2_0.woff2') format('woff2'),url('/assets/fonts/392028_2_0.woff') format('woff'),url('/assets/fonts/392028_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-Light';src: url('/assets/fonts/392028_3_0.eot');src: url('/assets/fonts/392028_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_3_0.woff2') format('woff2'),url('/assets/fonts/392028_3_0.woff') format('woff'),url('/assets/fonts/392028_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-Bold';src: url('/assets/fonts/392028_4_0.eot');src: url('/assets/fonts/392028_4_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_4_0.woff2') format('woff2'),url('/assets/fonts/392028_4_0.woff') format('woff'),url('/assets/fonts/392028_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-LightItalic';src: url('/assets/fonts/392028_5_0.eot');src: url('/assets/fonts/392028_5_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_5_0.woff2') format('woff2'),url('/assets/fonts/392028_5_0.woff') format('woff'),url('/assets/fonts/392028_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-Medium';src: url('/assets/fonts/392028_6_0.eot');src: url('/assets/fonts/392028_6_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_6_0.woff2') format('woff2'),url('/assets/fonts/392028_6_0.woff') format('woff'),url('/assets/fonts/392028_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-Regular';src: url('/assets/fonts/392028_7_0.eot');src: url('/assets/fonts/392028_7_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_7_0.woff2') format('woff2'),url('/assets/fonts/392028_7_0.woff') format('woff'),url('/assets/fonts/392028_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-RegularItalic';src: url('/assets/fonts/392028_8_0.eot');src: url('/assets/fonts/392028_8_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_8_0.woff2') format('woff2'),url('/assets/fonts/392028_8_0.woff') format('woff'),url('/assets/fonts/392028_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-MediumItalic';src: url('/assets/fonts/392028_9_0.eot');src: url('/assets/fonts/392028_9_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_9_0.woff2') format('woff2'),url('/assets/fonts/392028_9_0.woff') format('woff'),url('/assets/fonts/392028_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-Thin';src: url('/assets/fonts/392028_A_0.eot');src: url('/assets/fonts/392028_A_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_A_0.woff2') format('woff2'),url('/assets/fonts/392028_A_0.woff') format('woff'),url('/assets/fonts/392028_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Larsseit-ThinItalic';src: url('/assets/fonts/392028_B_0.eot');src: url('/assets/fonts/392028_B_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/392028_B_0.woff2') format('woff2'),url('/assets/fonts/392028_B_0.woff') format('woff'),url('/assets/fonts/392028_B_0.ttf') format('truetype');}
 

// Karelia

@font-face {
    font-family: 'Karelia Web Regular';
    src: url('/assets/fonts/KareliaWeb-Regular.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karelia Web Regular';
    src: url('/assets/fonts/KareliaWeb-RegularItalic.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Karelia Web Medium';
    src: url('/assets/fonts/KareliaWeb-Medium.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karelia Web Medium';
    src: url('/assets/fonts/KareliaWeb-MediumItalic.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Karelia Web Bold';
    src: url('/assets/fonts/KareliaWeb-Bold.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Karelia Web Black';
    src: url('/assets/fonts/KareliaWeb-Black.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Karelia Web Black';
    src: url('/assets/fonts/KareliaWeb-BlackItalic.woff2') format('woff2'),
         url('/assets/fonts/KareliaWeb-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}