.footer{
    background-color:$orange;
    color:#FFF;
    padding-top:calculateRem(10px);
    padding-bottom:calculateRem(0px);
    padding-left:calculateRem(10px);
    padding-right:calculateRem(10px);
    &__copyright{
        text-transform: uppercase;
        letter-spacing: 0.034rem;
        font-family:$font;
        font-size:calculateRem(13px);
        font-weight: 500;
    }
    &__nav{
        display: none;
        list-style:none;
        padding-left: 0;
        font-size:calculateRem(13px);
        letter-spacing: 0.034rem;
        @include md{
            display: block;
        }
        @include lg{
            display: block;
        }
        &-item{
            display: inline-block;
            text-transform: uppercase;
            margin-right: calculateRem(30px);
            a, a:hover{
                color:#FFF;
                text-decoration: none;
            }
        }
    }
}