.header{
    color: $gray;
    &__logo{
        background: url(/assets/images/logo.svg) no-repeat;
        color: #FFF;
        width:calculateRem(260px);
        height: calculateRem(45px);
        display: block;
        margin-right: calculateRem(30px)
    }
    &__dropdown{
       font-size:calculateRem(13px) !important;
    }
    &__dropdown-title{
        color:#000;
        font-size: calculateRem(14px);
        border-bottom:1px solid #000;
        padding-bottom: calculateRem(10px);
        margin-bottom: calculateRem(15px);
    }
    &__right-links{
        color:rgba(0,0,0,.5);
        font-size:calculateRem(13px);
        p{
            margin-bottom:0;
        }
        a{
            display: inline-block;
            padding-top:calculateRem(10px);
            padding-bottom:calculateRem(10px);
            color:rgba(0,0,0,.5);
            &:hover, &:visited{
                color:rgba(0,0,0,.5);
                text-decoration: underline;
                cursor:pointer;
            }
        }
    }
}

.social{
    &__list{
        position: absolute;
        z-index:1000;
        right: calculateRem(20px);
        margin-top:calculateRem(80px);
       list-style: none;
        &-item{
            display: inline-block;
            margin-right:calculateRem(10px);
            &:last-child{
                margin-right: 0;
            }
            a, a:hover{color:$orange;}
        }
    }
}

