.header{
    color: $gray;
    &__logo{
        background: url(/assets/images/logo.svg) no-repeat;
        color: #FFF;
        width:calculateRem(260px);
        height: calculateRem(45px);
        display: block;
        margin-right: calculateRem(30px)
    }
    &__dropdown{
       font-size:calculateRem(13px) !important;
    }
    &__dropdown-title{
        color:#000;
        font-size: calculateRem(14px);
        border-bottom:1px solid #000;
        padding-bottom: calculateRem(10px);
        margin-bottom: calculateRem(15px);
    }
}

    //Bootstrap override
    .dropdown-menu{
        background: rgba(255, 255, 255, 0.40) !important;
        padding:calculateRem(15px) !important;
   }
   .dropdown-item{
       color: $orange !important;
       font-size:calculateRem(13px);
       padding:.25rem 0 !important;
       &:hover{
           background: transparent !important;
           color:#FFF !important;
       }
   }