.header__navbar{
    &--link{
        font-size:calculateRem(14px)
    }
    &--items{
        border-bottom:1px solid $orange
    }
}
.navbar-expand-lg .navbar-nav .nav-link{
    letter-spacing: 0.034rem;
} 

.btn-primary{
    letter-spacing: 0.034rem;
}
.space { 
    letter-spacing: 0.034rem;}