.carousel-item {
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 4s;
    opacity: 0;
    visibility: hidden;
    min-height:calculateRem(200px);
}
.carousel-item.active {
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 4s;
    visibility: visible;
    opacity: 1;
}

.carousel-caption{
    h3{
        font-weight: 700;
        text-transform: uppercase;
        font-size: calculateRem(80px);
        line-height: calculateRem(75px)
    }
    top:33%;
}

.social{
    &__list{
        position: absolute;
        z-index:100;
        right: calculateRem(20px);
        margin-top:calculateRem(20px);
       list-style: none;
        &-item{
            display: inline-block;
            margin-right:calculateRem(10px);
            &:last-child{
                margin-right: 0;
            }
            a, a:hover{color:$orange;}
        }
    }
}