$gray: #666;
$midgray: #999;
$lightgray: #ced4da;
$orange: #f04c22;
$blue: #5c93a7;
$aqua: #1dcbce;
$font: 'Ubuntu', sans-serif;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }


// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}