
<div class="modal-body">
  <h2 class="h2 orange text-center">{{ Usuario }}</h2>
  <h2 class="h2 orange text-center" *ngIf="TengoClase > 0">¡Quieres Cambiar de Lugar!</h2>
  <h2 class="h2 orange text-center" *ngIf="TengoClase === 0">¡Quieres Reservar Este Lugar!</h2>
  <hr clas="line--orange"> 
  <div class="row">
    <div class="col-md-6">
      <strong class="orange">Lugar: {{ LugarSalon }}</strong>
    </div>
    <div class="col-md-6">      
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary--orange" (click)="reservar();" >Reservar</button>
  <button type="button" class="btn btn-outline-primary--orange" (click)="cancelar();" >Cancelar</button>
</div>