<div class="container-fluid team-detail">
  <div class="row">
      <div class="team-detail__profile-pic">
          <h1 class="team-detail__profile-name">Tere Mtz</h1>
          <img src="../../assets/images/instructor_banner.jpeg" alt="">
        </div>
  </div>
</div>
<div class="container team-detail">
  <div class="row">
    <div class="col-md-8">
      <h2 class="h3 orange mb-3">Música que le gusta ahorita</h2>
      <app-team-music></app-team-music>
      <h3 class="h2 orange mt-5 mb-5">"Eres más fuerte de lo crees”</h3>
      <p>La clase de Tere Mtz está enfocada en intensidad de una forma completa, retandote a pensar en cada parte de tu
        cuerpo como algo poderoso.
        Tere fué bailarina de ballet desde los 5 años, ama la música pop.</p>
      <ul class="social">
        <li class="social__item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li class="social__item"><a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="social__item"><a href=""><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="h4 upper mt-5">Su paso favorito arriba de la bici:</h4>
      <h3 class="h3 mb-4">Tap back push up</h3>

      <h4 class="h4 upper">Su paso favorito en hiit:</h4>
      <h3 class="h3 mb-4">Shakira</h3>

      <h4 class="h4 upper">Animal favorito:</h4>
      <h3 class="h3 mb-4">León</h3>

      <h4 class="h4 upper">Película favorita</h4>
      <h3 class="h3 mb-4">Lion king</h3>
    </div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="col-md-12">
        <h2 class="h3 orange mb-3">Próximas clases de Tere Mtz</h2>
    </div>
  </div>
</div>
<app-team-calendar></app-team-calendar>