<div class="container"  *ngIf="welcome">
  <div class="row">
    <div class="col-md-3 mb-5">
      <app-userdata></app-userdata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidenav [active]="active" [list]="list"></app-sidenav>
    </div>
    <div class="col-md-1">
     
    </div>
    <div class="col-md-7">
      <h2 class="h2 orange text-center">{{title}}</h2>
      <hr class="line--orange">
      <h3 class="h1 mt-5 mb-5 text-center" *ngIf="Reservas.length === 0">¡No Has tomado clases!</h3>
      <h3 class="h1 mt-5 mb-5 text-center" *ngIf="Reservas.length > 0">¡Has tomado {{ Reservas.length }} clases!</h3>
      <h3 class="h3">Clases recientes</h3>
      <hr>
      <button class="btn btn-outline-primary--orange" (click)="ReservarHiit();">¡Reserva Mas Clases! Ride</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-primary--aqua" (click)="ReservarTrain();">¡Reserva Mas Clases! Train</button>
      <hr>
      <ul class="line-list" *ngIf="Reservas.length > 0">
        <li class="line-list__item" *ngFor="let clase of Reservas">
          <h4 class="h4">{{ clase.Fecha }}</h4>
          <p>{{ clase.Clase }} por <a href="#">{{ clase.Instructor }}</a> </p>
          <p>Lugar: <strong>  {{ clase.SalonLugar }}</strong></p>
        </li>
      </ul>      
    </div>
  </div>
</div>