.classes{
    &__bike{
        display: block;
        background: #e9ecef;
        border-radius: 50%;
        width: calculateRem(40px);
        height: calculateRem(40px);
        color:$orange;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid transparent;
        &:hover{
            background-color: rgba(240, 76, 34, 0.15);
            border:1px solid $orange;
            color: $gray;
            cursor: pointer;
        }
        &.active{
            background: $orange;
            color:#FFF;
        }
        &.aq{
            color:$gray;
            &:hover{
                background-color: $aqua;
                border:1px solid transparent;
                color:#FFF;
            }
            &.active{
                background-color: rgba(29, 203, 206, 0.38);
                color: $gray;
                border:1px solid $aqua;
            }
        }
    }
    &__heading{
        color:$orange;
        font-size: calculateRem(30px);
        display: block;
        border-bottom: 1px solid $orange;
        max-width:300px;
        padding-bottom: 5px;
        margin: auto;
        &.aqua{
            border-bottom: 1px solid $aqua;
            color:$aqua;
        }
    }
    &__avatar{
        border-radius: 50%;
        border: 1px solid #e9e9e9;
        max-width: 50%;
        max-height: 50%;
    }
    &__date{
        font-size:calculateRem(24px);
        color:$orange;
        margin-bottom:10px;
        &.aqua{
            color:$aqua;
        }
    }
    &__coach{
        font-size: calculateRem(16px);
        margin-bottom:0;
    }
    &__bikes-row{

        .custom-col{
            flex: 0 0 13%;
            max-width: 11%;
        }
        &.first{
            .col-sm-1:first-child{
                margin-left:200px
            }
        }
        &.second{
            .col-sm-1:first-child{
                margin-left:350px
            }
        }
    
    //     div:nth-child(1){
    //         margin-left: 8.333333%;
    //     }
    //     div:nth-child(2){
    //         margin-top: 25px;
    // }
    //     div:nth-child(3){
    //         margin-top: 35px;
    //     }
    //     div:nth-child(4){
    //         margin-top: 45px;
    //     }
    //     div:nth-child(5){
    //         margin-top: 55px;
    //     }
    //     div:nth-child(6){
    //         margin-top: 55px;
    //     }
    //     div:nth-child(7){
    //         margin-top: 45px;
    //     }
    //     div:nth-child(8){
    //         margin-top: 35px;
    //     }
    //     div:nth-child(9){
    //         margin-top: 25px;
    //     }
    //     div:nth-child(10){
    //         margin-top: 0
    //     }

    }

}

.container-lugares {
    padding-top: 6.25rem;
    padding-bottom: 2.5rem;
    width: 40%;;
    margin: 0 auto;
}