html{
    font-size:16px;
    font-family:$font;
    font-weight: 300;
}
body{
    padding:0;
    background: none;
    color: $gray;
    font-weight: 300;
    font-family:$font;
}
img{
    max-width: 100%;
}

.img-full{
    width: 100%;
}

p, label{
    font-size: calculateRem(16px)
}

a, a:hover, a:visited{
    color:$gray
}

.h1{
    font-size:calculateRem(32px);
    font-weight: 600;
}

.h2{
    font-size:calculateRem(24px);
    font-weight: 400;
}

.h3{
    font-size:calculateRem(19px);
    font-weight: 400;
}

.line{
    &--orange{
        border-top: 1px solid $orange;
    }
    &--blue{
        border-top: 1px solid $blue;
    }
    &--white{
        border-top: 1px solid #FFF;
    }
}

.line-list{
    list-style: none;
    padding-left: 0;
    &__item{
        padding-top:calculateRem(20px);
        border-bottom:1px solid $lightgray;
        .h4{
            font-size: calculateRem(13px);
        }
    }
}

.orange{
    color: $orange !important;
}

.aqua{
    color: $aqua !important;
    margin-right: .2rem;
}


.gray{
    color: $gray !important;
}

.underlined{
    border-bottom:1px solid;
    padding-bottom:5px;
}

.alert-custom {
    width: 100%;
    color: #FFF;
    background-color:$orange;
    padding:calculateRem(15px) 0 calculateRem(10px) 0;
    text-align: center;
    margin-bottom:0; 
    border-radius: 0;
    position: absolute;
    z-index: 900;
    top:calculateRem(60px);
    opacity: .8;
    &.over{
        position: relative;
        z-index: 0;
    }
  }

//Bootstrap overrides
.btn-outline-primary{
    color: $gray;
    border-color: $lightgray;
    font-size:calculateRem(13px);
    border-radius: 0;
    &:hover{
        background-color: #FFF;
        color: $gray;
        border-color: $gray;
    }
    &--orange{
        color: $orange;
        border:1px solid $orange;
        border-radius: 0;
        &:hover{
            color:lighten($orange, 10);
            border:1px solid lighten($orange, 10);
        }
    }
    &--aqua{
        color: $aqua;
        border:1px solid $aqua;
        border-radius: 0;
        &:hover{
            color:lighten($orange, 10);
            border:1px solid lighten($aqua, 10);
        }
    }
}
.dropdown-menu{
    background: #e9ecef !important;
    padding:calculateRem(15px) !important;
    box-shadow: none;
    border: 0;
}
.dropdown-item{
    color: $orange !important;
    font-size:calculateRem(13px);
    padding:.8rem 0 !important;
    &:hover{
        background: transparent !important;
        color: lighten($orange, 10)
    }
}

.form-group{
    label{color:$orange}
    .form-control{
        background-color: $lightgray;
        font-size: calculateRem(13px)
    }

}

.container{
    padding-top: calculateRem(100px);
    padding-bottom: calculateRem(40px);
}

.container-fluid{
    padding-top: calculateRem(70px);
}

.btn-gray{
    background-color:$lightgray;
    color: $gray !important;
    border-radius: 0;
    padding:.5rem 1.5rem;
    font-size:calculateRem(14px);
    border:0;
    &:hover{
        color:$gray !important;
        background-color: darken($lightgray,10)
    }
}

.btn-primary{
    background-color:$orange;
    color: #FFF !important;
    border-radius: 0;
    padding:.5rem 1.5rem;
    font-size:calculateRem(14px);
    border:0;
    &:hover{
        color:#FFF !important;
        background-color: darken($orange,10)
    }
    &--aqua{
        background-color:$aqua;
        border-radius: 0;
        padding:.5rem 1.5rem;
        font-size:calculateRem(14px);
        color:#FFF;
        &:hover{
            color:#FFF !important;
            background-color: darken($aqua,10)
        }
    }
}

.card{
    &.round{
        border-radius: 50%;
        height: 230px;
        width: 230px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$orange;
        border:0; 
        background: #e9ecef;
        margin-bottom: calculateRem(10px);
        &:hover{
            color: #FFF;
            background: $orange;
            cursor:pointer;
        }
        .card-body{
            flex: initial;
            padding: 0;
        }
        .card-bodydisabled{
            flex: initial;
            padding: 0;
            background-color: #000 !important;
        }
        .card-title{
            font-size: calculateRem(18px);
            margin-bottom: calculateRem(20px);
        }
        .h3{
            font-size: calculateRem(18px);
        }
        .card-text{
            margin-top:calculateRem(20px)
        }
    }
}
.margin-top{
    margin-top:calculateRem(80px);
}

.big-title{
    font-size: calculateRem(42px);
    font-family: $larseitmedium;
}

.small{
    font-size: calculateRem(11px);
}

.upper{
    text-transform: uppercase;
}

//override modal styles
.modal-header{
    border-top:0;
    border-bottom:0;
}

.social{
    margin-top:calculateRem(10px);
    list-style: none;
    padding-left: 0;
        &__item{
            display: inline-block;
            margin-right:calculateRem(10px);
            &:last-child{
                margin-right: 0;
            }
            a, a:hover{color:$orange;}
        } 
}

.fixed{
    position: fixed;
}

.mid-margin{
    padding-top:50px !important;
}

.classes__bikes-row {
    margin-left: 10px;
}
.classes__bikestrain-row {
    margin-left: 46px;
    margin-right: -231px;
}

    
@media only screen and (min-width: 360px) {
    .slider-img {
        vertical-align: middle;
        border-style: none;
        object-fit: contain !important;
    }
    .classes__bikestrain-row {
        margin-left: 46px;
        margin-right: 0px;
    }
}
    
    
    
@media only screen and (min-width: 410px) {
    .carousel-caption h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size:1rem ;
        line-height: .4rem ;
        font-family: "Karelia Web Black";
    }
    .classes__bikestrain-row {
        margin-left: 46px;
        margin-right: 0px;
    }
}
        
@media only screen and (min-width: 350px) {
    .carousel-caption h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size:1rem ;
        line-height: .4rem ;
        font-family: "Karelia Web Black";
    }
    .classes__bikestrain-row {
        margin-left: 46px;
        margin-right: 0px;
    }
}

.block_ {
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_2 {
    color: black;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_3 {
    display: block;
    font-family: "Calibri", sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    height: 30.1pt;
    margin-left: auto;
    width: 160pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre4 {
    display: table-row;
    vertical-align: inherit
    }
.table_ {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 207pt
    }
.td_ {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: bottom;
    width: 91pt
    }
.td_1 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-style: none;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 3.5pt;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: bottom;
    width: 116pt
    }
.td_2 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-style: none;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: bottom;
    width: 91pt
    }
.td_3 {
    background-color: transparent;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-style: none;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-style: none;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 3.5pt;
    padding-right: 0;
    padding-top: 0.5ex;
    text-align: inherit;
    vertical-align: bottom;
    width: 116pt
    }
.text_ {
    color: #0563C1;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
    /* .mt-5 {
        margin-top: 7rem!important;
    } */
   
.debit {
    background-image: url("/assets/images/cards2.png");
    margin-left: 20px;
    width: 540px;
}
.credit {
    background-image: url("/assets/images/cards1.png");
    border-right: 1px solid #ccc;
    margin-left: 30px;
    width: 209px;
}
.card-expl h4 {
    font-weight: 400;
    margin: 0;
}
.openpay {
    /* float: right; */
    height: 60px;
    /* margin: 10px 30px 0 0; */
   /*  width: 435px; */
}
.openpay div.logo {
    background-image: url(/assets/images/openpay.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    height: 55px;
    /* padding: 15px 50px 0 0; */
}
.openpay div.shield {
    background-image: url(/assets/images/security.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-left: 0px;
    padding: 20px 0 0 40px;
    /* width: 200px; */
}