.sidenav{
    &__nav-link{
        padding-left:calculateRem(5px);
        font-size:calculateRem(13px);
        letter-spacing: 0.034rem;
        cursor: pointer;
        &--active{
            color: $orange !important;
            border-bottom:1px solid $orange;
            padding-bottom:calculateRem(8px);
            font-weight: 500;
        }
    }
}.line-list__item {
    padding-top: 1.25rem;
    border-bottom: 1px solid #ced4da;
    letter-spacing: 0.034rem;
}