<mat-tab-group>
   <mat-tab label="Clases de Hoy">
      <h1>Estatus de clases para hoy</h1>
      <div class="padding">
         <div fxLayout="row wrap">
            <mat-card *ngFor="let row of ReservasHoy" [style.background]="row.Color === 'orange' ? '#f04c22':'#1dcbce'" class="box">
               <mat-card-header>
                  <img mat-card-avatar src="{{ row.Fotografia }}">
                  <mat-card-subtitle>{{row.Instructor}}</mat-card-subtitle>
                  <mat-card-title>{{row.Clase}}</mat-card-title>
               </mat-card-header>
               <mat-card-content>
                  <p>{{row.Fecha}}</p>
               </mat-card-content>
               <mat-divider></mat-divider>
               <p>Cant Lugares: {{row.CantLugares}}, Reservados: {{row.CantLugaresSeparados}}, Asistencia:
                  {{row.CantLugaresAsistencia}}</p>
               <mat-card-actions>
                  <div fxLayout="row">
                     <button mat-icon-button (click)="verDetalle(row)">
                        <mat-icon>check_box</mat-icon>
                     </button>
                  </div>
               </mat-card-actions>
            </mat-card>
         </div>
      </div>
   </mat-tab>
   <mat-tab label="Clases a partir de Hoy">
      <h1>Estatus de clases apartir de hoy</h1>
      <div class="padding">
         <div fxLayout="row wrap">
            <mat-card *ngFor="let row of ReservasAPartirHoy" [style.background]="row.Color === 'orange' ? '#f04c22':'#1dcbce'" class="box">
               <mat-card-header>
                  <img mat-card-avatar src="{{ row.Fotografia }}">
                  <mat-card-subtitle>{{row.Instructor}}</mat-card-subtitle>
                  <mat-card-title>{{row.Clase}}</mat-card-title>
               </mat-card-header>
               <mat-card-content>
                  <p>{{row.Fecha}}</p>
               </mat-card-content>
               <mat-divider></mat-divider>
               <p>Cant Lugares: {{row.CantLugares}}, Reservados: {{row.CantLugaresSeparados}}, Asistencia:
                  {{row.CantLugaresAsistencia}}</p>
               <mat-card-actions>
                  <div fxLayout="row">
                     <button mat-icon-button (click)="verDetalle(row)">
                        <mat-icon>check_box</mat-icon>
                     </button>
                  </div>
               </mat-card-actions>
            </mat-card>
         </div>
      </div>
   </mat-tab>
   <mat-tab label="Pagos de Hoy">
      <h1>Pagos Realizados el Dia de Hoy</h1>
      <div fxFlex="100" class="padding">
         <div fxFlex="100" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="column" furyAspectRatio="1:1"
            furyAspectRatio.sm="1.5:1" fxFlex="column">
            <div fxFlex="100" class="alerta">Pagos de HOY Has Recibido {{ CantPagosHoy }}</div>
            <div fxFlex="100" class="table-container route-animations-elements" furyScrollbar>
               <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
                  [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
                  <thead>
                     <tr>
                        <th>CLIENTE</th>
                        <th>FECHA PAGO</th>
                        <th>CANTIDAD DE CLASES</th>
                        <th>MONTO</th>
                        <th>TARJETA</th>
                        <th>TIPO DE TARJETA</th>
                        <th>NUM. AUTORIZACION</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let row of MisPagosHoy">
                        <td>{{ row.Cliente}}</td>
                        <td>{{ row.FechaPago}}</td>
                        <td>{{ row.CantidadClases }}</td>
                        <td>{{ row.MontoPago }}</td>
                        <td>{{ row.NumeroTarjeta }}</td>
                        <td>{{ row.TipoTarjeta }}</td>
                        <td>{{ row.NumAutorizacion }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </mat-tab>
   <mat-tab label="Pagos Ultimos 30 dias">
      <h1>Pagos de los ultimos 30 dias</h1>
      <div fxFlex="100" class="padding">
         <div fxFlex="100" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="column" furyAspectRatio="1:1"
            furyAspectRatio.sm="1.5:1" fxFlex="column">
            <div fxFlex="100" class="alerta">Historia Pagos Has Recibido {{ CantPagos }} Pagos en los utlimos 30 Dias
            </div>
            <div fxFlex="100" class="table-container route-animations-elements" furyScrollbar>
               <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
                  [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
                  <thead>
                     <tr>
                        <th>CLIENTE</th>
                        <th>FECHA PAGO</th>
                        <th>CANTIDAD DE CLASES</th>
                        <th>MONTO</th>
                        <th>TARJETA</th>
                        <th>TIPO DE TARJETA</th>
                        <th>NUM. AUTORIZACION</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let row of MisPagos">
                        <td>{{ row.Cliente}}</td>
                        <td>{{ row.FechaPago}}</td>
                        <td>{{ row.CantidadClases }}</td>
                        <td>{{ row.MontoPago }}</td>
                        <td>{{ row.NumeroTarjeta }}</td>
                        <td>{{ row.TipoTarjeta }}</td>
                        <td>{{ row.NumAutorizacion }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
    </mat-tab>
    <mat-tab label="Listado de Reservas">
      <h1>Listado de Reservas a Partir de Hoy</h1>
      <div fxFlex="100" class="padding">
         <div fxFlex="100" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="column" furyAspectRatio="1:1"
            furyAspectRatio.sm="1.5:1" fxFlex="column">
            <div fxFlex="100" class="table-container route-animations-elements" furyScrollbar>
               <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped"
                  [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
                  <thead>
                     <tr>
                        <th>CLASE</th>
                        <th>FECHA CLASE</th>
                        <th>INSTRUCTOR</th>
                        <th>SALON</th>
                        <th>LUGAR</th>
                        <th>CLIENTE</th>
                        <th>ASISTENCIA</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let row of ReservasDashboard">
                        <td>{{ row.Clase}}</td>
                        <td>{{ row.Fecha}}</td>
                        <td>{{ row.Instructor }}</td>
                        <td>{{ row.Salon }}</td>
                        <td>{{ row.SalonLugar }}</td>
                        <td>{{ row.Cliente }}</td>
                        <td>
                           <span>
                               <mat-icon *ngIf="row.Asistencia == 0" color="warn">highlight_off</mat-icon>
                               <mat-icon *ngIf="row.Asistencia == 1" color="accent">beenhere</mat-icon></span>
                       </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
    </mat-tab>
 </mat-tab-group>

<div class="dashboard padding" fxLayout="column" [fxLayoutGap]="gap">      

  
</div>