<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>  


  <!-- FIRST ROW -->
  <!-- <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap"
       fxLayout.gt-lg="row">
    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <div furyAspectRatio="2:1" furyAspectRatio.sm="3:1"
           fxFlex="auto" [fxFlex.gt-sm]="col(4)">
        <fury-bar-chart-widget furyAspectRatioContent class="widget route-animations-elements"
                               [data]="salesData$ | async"
                               [options]="totalSalesOptions"></fury-bar-chart-widget>
      </div>

      <div furyAspectRatio="2:1" furyAspectRatio.sm="3:1"
           fxFlex="auto" [fxFlex.gt-sm]="col(4)">
        <fury-line-chart-widget furyAspectRatioContent class="widget route-animations-elements"
                                [data]="visitsData$ | async"
                                [options]="totalVisitsOptions"></fury-line-chart-widget>
      </div>

    </div>

    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <div furyAspectRatio="2:1" furyAspectRatio.sm="3:1"
           fxFlex="auto" [fxFlex.gt-sm]="col(4)">
        <fury-line-chart-widget class="route-animations-elements" furyAspectRatioContent [data]="clicksData$ | async"
                                [options]="totalClicksOptions"></fury-line-chart-widget>
      </div>

      <div furyAspectRatio="2:1" furyAspectRatio.sm="3:1"
           fxFlex="auto" [fxFlex.gt-sm]="col(4)">
        <fury-line-chart-widget class="route-animations-elements" furyAspectRatioContent
                                [data]="conversionsData$ | async"
                                [options]="conversionsOptions"></fury-line-chart-widget>
      </div>

    </div>
  </div> -->
  


  
<!-- 
    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <div [furyAspectRatio.xs]="'1:2-' + gap" [furyAspectRatio]="'1.5:1-' + gap"
           [furyAspectRatio.gt-md]="'2:1-' + gap" [furyAspectRatio.gt-lg]="'1.5:1-' + gap"
           fxFlex="grow">
        <fury-audience-overview-widget class="route-animations-elements" furyAspectRatioContent
                                       [options]="audienceOverviewOptions"></fury-audience-overview-widget>
      </div>

    </div>

    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <div fxLayout="column" [fxLayoutGap]="gap" fxFlex="grow">
        <div furyAspectRatio="1:1" furyAspectRatio.sm="1.5:1" fxFlex="grow">
          <fury-sales-summary-widget class="route-animations-elements" furyAspectRatioContent
                                     [data]="salesSummaryData$ | async"
                                     [options]="salesSummaryOptions"></fury-sales-summary-widget>
        </div>
-->

<!-- 
      <div furyAspectRatio.xs="1:1.1" furyAspectRatio.sm="1.5:1" furyAspectRatio.gt-sm="1:1.32" fxFlex="grow">
        <fury-realtime-users-widget class="route-animations-elements" furyAspectRatioContent
                                    [data$]="realtimeUsersData$"
                                    [pages$]="realtimeUsersPages$"></fury-realtime-users-widget>
      </div>

    </div>-->
  

 <!--  END FIRST ROW -->
<div class="dashboard padding" fxLayout="row" [fxLayoutGap]="gap" fxLayout.gt-sm="row">
  
</div>
