<app-slider></app-slider>
<div class="home-mb__classes motto d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 class="h2 white">
          It’s not about the ass, <br>
          It’s not about the looks, <br>
          It’s not about the likes. <br><br>
        </h2>

        <h2 class="h2 white">
          It’s about feeling the vibe, <br>
          It’s about connecting, <br>
          It’s about you, <br>
          It’s about the power.<br>
        </h2>

        <h2 class="h2 white">
          Welcome!<br>
          This is your tribe, <br>
          This is your vibe, <br>
          This is your moment, <br>
          This is your <br>
          POWERHOUSE!
        </h2>
      </div>
    </div>
  </div>
</div>