<div class="container cart">
  <div class="row">
    <div class="col-12">
      <table class="table">
      <thead>
        <tr>
            <th class="col-md-4">Tu carrito</th>
            <th class="col-md-4">Precio</th>
            <!-- <th class="col-md-3">Cantidad</th> -->
            <th class="col-md-4">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td class="col-md-4">
              <div class="cart__qty">{{item.CantidadClases}}</div>
              <div class="cart__desc"><strong>{{item.Paquete}}</strong><br><span class="cart__exp">*Expira en {{item.ExpiracionDias}} días</span></div>
          </td>
          <td class="col-md-4 no-wrap">
            ${{item.PrecioVenta}} pesos
          </td>
          <!-- <td class="col-md-3">
            <input type="number" [(ngModel)]="item.Cantidad" class="form-control">
          </td> -->
          <td class="col-md-4"> $ {{item.Cantidad * item.PrecioVenta}}</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td></td>
          <td class="no-wrap"><strong>Total {{totalcantidad}}</strong></td>
          <td>$ {{total}} pesos</td>
        </tr>
        <tr>
          <td><p class="cart__terms"> TÉRMINOS Y CONDICIONES QUE REGULAN EL USO Y MANTENIMIENTO DE LAS INSTALACIONES PROPIEDAD DE POWERHAUS S.A. DE C.V. O CONOCIDO COMO POWERHOUSE, SU NOMBRE COMERCIAL, MISMO QUE SERÁ APLICABLE PARA TODOS LOS USUARIOS Y PERSONAS QUE SE ENCUENTREN EN LAS INSTALACIONES. 

            CAPÍTULO I.- DISPOSICIONES GENERALES 
            
            PRIMERO.- Este documento de Términos, Condiciones y Políticas establece las bases para el desarrollo de las actividades dentro de las instalaciones de Powerhouse, las relaciones entre los Usuarios y el Personal, y entre Usuarios, rige todas sus instalaciones, tanto las que actualmente tiene establecidas en Av. Roberto Garza Sada 101, Carrizalejo, 66254 San Pedro Garza García, N.L., como en cualesquiera otras instalaciones que llegare a establecer, sean permanentes o temporales. 
            
            SEGUNDO.- Para efectos del presente documento, así como sus respectivos Anexos, deben entenderse los conceptos y abreviaturas como sigue: 
            
            AVISO DE PRIVACIDAD: Documento oficial publicado por Powerhaus S.A. de C.V.  en el cual se hace responsable por la recopilación de datos que hace de los Usuarios, y el cual se encuentra a su disposición. Anexo I. 
            
            CONTRATO: Significa el acuerdo de voluntades entre la Empresa y cada uno de sus Usuarios, en los cuales se pactan los términos y condiciones de uso. 
            
            CLASE: Se define como el periodo de tiempo en el cual el Usuario se encuentra frente al Instructor y se desarrolla la actividad física. 
            
            CONDICIONES DEL USUARIO: Entiéndase los términos y condiciones establecidas en el presente documento, los cuales se exponen a los Usuarios para que sean sabedores de los mismos. 
            
            DATOS PERSONALES: Significa toda aquella información que se relaciona con los Usuarios y los identifica dentro de la Empresa. 
            
            DERECHOS ARCO: Derechos que tiene el Usuario de acceso, rectificación, cancelación y oposición al tratamiento de sus datos personales. 
            
            EMPRESA: Significa indistintamente Powerhaus S.A de C.V. 
            
            HORARIO: Entiéndase como el periodo de tiempo durante el cual se pueden desarrollar actividades en las instalaciones de Powerhouse. 
            
            INSTALACIONES: Se definen como el local en el cual se llevan a cabo las actividades de Powerhouse establecidas en Av. Roberto Garza Sada 101, Carrizalejo, 66254 San Pedro Garza García, N.L.
             INSTRUCTOR: Persona integrante del personal de Powerhouse encargada de impartir la clase. 
            
            MEDIOS DE CONTACTO: Vías de comunicación que tiene el Usuario para con la empresa,  sea virtual en el sitio web: mypowerhouse.mx, correo electrónico: contacto@mypowerhouse.mx, Redes Sociales creadas por Powerhouse, presencial en las Instalaciones de la Empresa y/o números telefónicos que establezca para tales efectos. 
            
            MEMBRESÍA: Significa condición de miembro de Powerhouse. 
            
            PAGO: Cantidad o monto de dinero que se realiza a favor de Powerhouse por parte del usuario por medio de transferencia electrónica y/o cualquier otro método de pago.
            
            PERSONAL: Cualquier persona que preste sus servicios a favor de la Empresa Powerhaus S.A. de C.V.
            
             POLÍTICAS: Entiéndase como el conjunto de principios que permiten orientar el comportamiento y/o actuar de los Usuarios dentro de las Instalaciones de la Empresa. 
            
            REGLAMENTO: El Reglamento de uso y mantenimiento de las Instalaciones. 
            
            SERVICIO: Conjunto de actividades, clases, asesorías que Powerhouse pone a disposición de los Usuarios para su contratación. 
            
            SITIO WEB: Significa el espacio virtual de internet creado por Powerhouse  con el dominio mypowerhouse.mx 
            
            POWERHOUSE: Nombre comercial registrado de la persona moral denominada Powerhaus S.A de C.V. 
            
            USUARIO: Quien(es) utilizan las instalaciones de Powerhouse, asisten a Clase, o se encuentran dentro de la Empresa. 
            
            VALORES: Se entenderá por valores los bienes y/o pertenencias de los Usuarios que se ingresen a las Instalaciones de Powerhouse.
            
             VIGENCIA: Periodo de tiempo durante el cual el Contrato, reglamento o documento legal emitido por Powerhouse es válido para todos los efectos legales que hayan a lugar. 
            
             TERCERO.- El presente documento será dado a conocer a todos los Usuarios y será público así como sus documentos anexos, estando disponible en el Sitio Web: mypowerhouse.mx, e instalaciones de la Empresa, siendo su observancia obligatoria para los Usuarios de los Servicios proporcionados por la Empresa. 
            
            CAPÍTULO II.- DE LOS SERVICIOS CUARTO.- Powerhouse ofrece a los Usuarios servicios que consisten en la realización de ejercicio de alto rendimiento, en específico ejercicios físicos mediante el uso de bicicletas fijas, conocido como Spinning en las clases y ejercicios basados en intervalos que conllevan fuerza y resistencia horario y local establecido de Powerhouse, así como servicios relacionados a dichas clases, incluyendo de asesoría en materia de acondicionamiento físico. 
            
            QUINTO.- Para poder utilizar los Servicios, el usuario deberá de ingresar al Sitio Web mypowerhouse.mx y solicitar en el mismo el alta de su cuenta de usuario personal, siguiendo las instrucciones y proporcionando la información en el propio Sitio Web requerida. 
            
            SEXTO.- El Usuario deberá aceptar los presentes Términos y Condiciones mediante la opción electrónica de aceptación de las presentes Condiciones del Usuario que aparece en el Sitio Web, y dicha aceptación se entenderá como el consentimiento expreso entre el Usuario y Powerhaus S.A. de C.V. para celebrar el presente contrato y cumplir las obligaciones en el mismo establecidas (“Contrato”) 
            
            SÉPTIMO. Al momento en que el Usuario acepte las presentes Condiciones del Usuario, Powerhaus S.A. de C.V.  autorizará el alta de su cuenta de usuario personal, por lo que se obliga y acepta entregar a Powerhaus S.A. de C.V.  la información personal que considere en esta fecha o en fecha posterior necesaria o conveniente para poder brindar los Servicios. 
            
            OCTAVO.- Los datos personales obtenidos serán tratados conforme al Aviso de Privacidad de Powerhaus S.A. de C.V., señalado como Anexo I, y en cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. 
            
            NOVENO.- El Usuario acepta proporcionar los datos de su tarjeta de crédito u otro medio de pago electrónico que Powerhaus S.A. de C.V.  acepte como medio de pago por los Servicios y manifiesta su aprobación para que Powerhaus S.A. de C.V. realice los cargos que correspondan por los Servicios contratados. 
            
            DÉCIMO.- Tras cumplimentar adecuadamente el registro con Powerhaus S.A. de C.V., se le proporcionará al Usuario una cuenta personal con la cual podrá acceder a través del Sitio Web mypowerhouse.mx, con el nombre de usuario y la contraseña que se elija. El usuario será el único responsable del manejo de su contraseña y de mantenerla confidencial. 
            
            DÉCIMO PRIMERO.- El Usuario acepta y reconoce que las autorizaciones, contrataciones de Servicios y consentimientos que se realicen utilizando su nombre de usuario y contraseña se entenderán hechas por el en lo personal y como consentimiento expreso de su parte. Por lo anterior se recomienda no revelar a persona alguna nombre de usuario y/o contraseña. Powerhaus S.A. de C.V.  no será responsable por el uso inadecuado, o los cargos que se realicen en su tarjeta de crédito u otro medio de pago que haya proporcionado a través del uso de nombre de usuario y contraseña. 
            
            CAPÍTULO III.- DEL PROCESO DE INSCRIPCIÓN DÉCIMO SEGUNDO.- Al Powerhouse  le permitirá apartar un lugar dentro de las Clases de Powerhouse que se encuentren disponibles en el sistema, al momento en que indique qué clase desee tomar, el Usuario estará en la lista de asistentes a dicha Clase. 
            
            DÉCIMO TERCERO.- En el momento en que indique y solicite se aparte un cupo dentro de dicha clase el Usuario estará confirmando su asistencia a la misma y por lo tanto, autoriza a Powerhaus S.A. de C.V.  para que realice el cargo automático a la tarjeta de crédito o medio de pago electrónico que usted proporcionó a Powerhouse al momento de crear su cuenta de usuario, por concepto de la clase a la que usted asista. 
            
            CAPÍTULO IV.- USO DEL SITIO WEB O EL SERVICIO
            
            DÉCIMO CUARTO.- El Usuario deberá garantizar que la información proporcionada a Powerhaus S.A de C.V. es completa y veraz, ya que la Empresa tendrá derecho, en todo momento, a comprobar la veracidad de la información facilitada. 
            
            DÉCIMO QUINTO.- Es responsabilidad del Usuario asegurarse de ingresar al Sitio Web: mypowerhouse.mx, ya que la Empresa no será responsable si no ingresa a al Sitio Web correcto. Powerhaus S.A. de C.V.  se reserva el derecho a limitar, restringir o incluso prohibir su ingreso al sistema del Sitio Web con su nombre de usuario y contraseña al Sitio Web, asimismo se reserva el derecho de limitar, restringir o prohibir en cualquier momento que el Usuario utilice sus Servicios, por cualquier causa y sin necesidad de justificarlo. 
            
            DÉCIMO SEXTO.- Al utilizar el Sitio Web o los Servicios, el Usuario acuerda y consiente que: I. Sólo utilizará los Servicios y el Sitio Web exclusivamente de manera personal, por lo que no podrá ceder sus espacios en clases u otros Servicios en favor de terceros; 
            II. No autorizará a otros a usar su cuenta; 
            III. No cederá ni transferirá de otro modo su cuenta o derechos bajo este contrato a ninguna otra persona o entidad legal; 
            IV. No utilizará una cuenta que esté sujeta a cualquier derecho de una persona que no sea si mismo sin la autorización adecuada; 
            V. No utilizará los Servicios o el Sitio Web con fines ilícitos, incluyendo, sin limitación, para enviar o almacenar ningún material ilegal o con fines fraudulentos; 
            VI. No utilizará los Servicios o el Sitio Web para causar molestias, trastornos o inconvenientes; VII. No perjudicará el funcionamiento adecuado de la red; 
            VIII. No tratará de dañar los Servicios o el Sitio Web de ningún modo; 
            IX. No copiará ni distribuirá ningún contenido o Servicios de Powerhaus S.A de C.V. sin el permiso escrito de Powerhouse; 
            X. Guardará de forma segura y confidencial la contraseña de su cuenta y cualquier identificación facilitada para permitirle acceder al Servicio y al Sitio Web; 
            XI. Facilitará toda las pruebas de identidad que se le soliciten razonablemente de tiempo en tiempo; 
            XII. Cumplirá con toda la legislación y normas aplicables al usar el Sitio Web o los Servicios. XIII. Mantendrá una buena conducta y será respetuoso con las demás personas que utilicen los Servicios; 
            XIV. Se obliga a respetar y cumplir los reglamentos que Powerhaus S.A. de C.V. emita en relación con los Servicios. 
            
            Powerhaus S.A. de C.V. se reserva el derecho a terminar en cualquier momento y de manera inmediata sin necesidad de declaración judicial los Servicios objeto de las presentes Condiciones del Usuario, en caso de que el Usuario incumpla con cualquiera de las normas anteriores. 
            
            DÉCIMO SÉPTIMO.- La información, recomendaciones u otros servicios prestados en o a través del Sitio Web y o por el uso de los Servicios, son sólo información general y no constituyen un aviso. 
            
            Powerhaus S.A. de C.V. se ocupará de mantener el Sitio Web y sus contenidos de forma razonablemente correcta y actualizada, pero no podrá garantizar que los contenidos del Sitio Web carezcan de errores, defectos, malware y virus y que el Sitio Web sea correcto, esté actualizado y sea preciso. Así mismo no será responsable por ningún daño derivado del uso del (o incapacidad de usar) del Sitio Web, incluyendo los daños causados por malware, virus o cualquier información incorrecta o incompleta de la información del Sitio Web, salvo que este daño se derive de cualquier conducta dolosa o negligencia grave por parte de Powerhaus S.A. de C.V. 
            
            Por último, la Empresa no será responsable por los daños derivados del uso de (o incapacidad de usar) los medios de comunicación electrónicos con el Sitio Web, incluyendo sin limitación daños derivados del fallo o retraso en la entrega de comunicaciones electrónicas, intercepción o manipulación de comunicaciones electrónicas por terceros o por programas informáticos usados para comunicaciones electrónicas y transmisión de virus. 
            
            CAPÍTULO V.- PAGOS E INDEMINIZACIONES 
            
            DÉCIMO OCTAVO.- El uso del Sitio Web será gratuito. Podrá encontrar información sobre las tarifas aplicables para los Servicios en el Sitio Web. Powerhaus S.A. de C.V. podrá modificar o actualizar las mismas ocasionalmente, sin necesidad de previo aviso. 
            
            DÉCIMO NOVENO.- Será responsabilidad del Usuario mantenerse informado sobre las tarifas actuales para los Servicios Powerhaus S.A. de C.V.. El Usuario acuerda pagar todos los Servicios que solicite (con independencia de si los utiliza o asiste a las clases), mediante cargo automático a tarjeta de crédito o medio de pago electrónico que haya proporcionado a través del Sitio Web. El costo de los Servicios causa Impuesto al Valor Agregado. En todo caso, será responsable del pago puntual de todos los Servicios que solicite. 
            
            VIGÉSIMO.- Los pagos y cargos realizados no son reembolsables. Powerhaus S.A. de C.V. podrá utilizar procesadores de pagos de terceros para vincular la tarjeta de crédito o el medio de pago electrónico que proporcione el Usuario a su nombre y contraseña en el Sitio Web. El procesamiento de pagos, con respecto al uso que haga de los Servicios estará sujeto a las condiciones y políticas de privacidad de Open Pay y el emisor de su tarjeta de crédito además de a estas Condiciones del Usuario. Powerhaus S.A. de C.V. no será responsable de ningún error del Procesador de Pago. En relación con el uso del Sitio Web y los Servicios, Powerhaus S.A. de C.V.  obtendrá determinados datos de la transacción, que utilizará únicamente de conformidad al aviso de privacidad de Powerhaus S.A. de C.V. Todas las transacciones con tarjeta serán procesados a través de Openpay. 
            
            VIGÉSIMO PRIMERO.- Al aceptar estos términos y condiciones y utilizar su nombre de usuario y contraseña en el Sitio Web, el Usuario acuerda y acepta que libera a Powerhaus S.A. de C.V. de toda y cualquier responsabilidad, y se obliga a indemnizar y mantener indemne a la Empresa, sus filiales, licenciatarios y todos sus directivos, directores, instructores, otros usuarios, trabajadores, representantes y asesores por cualesquiera reclamaciones, costos, daños, pérdidas, responsabilidades y gastos (incluyendo honorarios y gastos de abogados) derivados de o en relación con: 
            
            I. Violación o incumplimiento de cualquier condición de estas Condiciones del Usuario o cualquier ley o reglamento aplicable, se haga o no referencia al mismo en el presente; 
            II. Violación de cualquier derecho de cualquier tercero, o 
            III. Uso o uso incorrecto del Sitio Web o los Servicios. 
            
            CAPÍTULO VI.- DEL CONTRATO DE SERVICIOS 
            
            VIGÉSIMO SEGUNDO.- El contrato que se suscribe entre Powerhaus S.A. de C.V. y el Usuario será por un periodo indefinido, el cual tendrán derecho a finalizar el Contrato en todo momento, siempre y cuando el Usuario mediante escrito libre solicite a la Empresa deshabilite su nombre de usuario del Sitio Web. 
            
             VIGÉSIMO TERCERO.- Powerhaus S.A. de C.V. tendrá derecho a terminar el Contrato en todo momento y con efecto inmediato (deshabilitando el uso del Servicio) si el Usuario:
            
             I. Viola o incumple cualquier condición de las presentes Condiciones del Usuario, o 
            II. A consideración de Powerhaus S.A. de C.V., hace un uso indebido del Sitio Web o los Servicios. 
            
            Powerhaus S.A. de C.V. no estará obligado a dar un aviso previo de la terminación del Contrato. Después de su terminación Powerhaus S.A. de C.V.  avisará de ello con arreglo a las presentes Condiciones del Usuario. 
            
            VIGÉSIMO CUARTO.- Powerhaus S.A. de C.V.  se reserva el derecho, a su discreción, de modificar o sustituir cualquiera de los presentes términos y condiciones del usuario, o cambiar, suspender o interrumpir los Servicios o el acceso del Sitio Web (incluyendo, sin limitación, la disponibilidad de cualquier característica, base de datos o contenido) en cualquier momento mediante la publicación de un aviso en el Sitio Web o a través de correo electrónico. 
            
            VIGÉSIMO QUINTO.- Powerhaus S.A. de C.V.  podrá emitir notificaciones o avisos al Usuario a través de un aviso general en el Sitio Web o por correo electrónico a la dirección registrada en la información de la cuenta de Powerhaus S.A. de C.V, o mediante una comunicación escrita enviada por correo ordinario a la dirección registrada en la información de la cuenta de la Empresa. 
            
            VIGÉSIMO SEXTO.- Las partes están de acuerdo en que el Contrato se regirá por las leyes aplicables vigentes en Monterrey, Nuevo León. Para la interpretación y cumplimiento del Contrato, las partes se someten a la jurisdicción de los tribunales competentes en Monterrey, Nuevo León, renunciando expresamente a cualquier otro fuero que pudiera corresponderles por razón de sus domicilios presentes o futuros o por cualquier otra causa.
            
             CAPÍTULO VII.- DE LOS VALORES Y BIENES PERSONALES 
            
            VIGÉSIMO SÉPTIMO.- Powerhaus S.A. de C.V. no será responsable por la pérdida, robo, o daños a cualquier objeto, incluyendo artículos dejados en casilleros, baños, estudios, o cualquier otro lugar en las instalaciones. Asimismo, el Usuario acepta y reconozco que Powerhaus S.A. de C.V.  se reserva el derecho a denegar el acceso a cualquier persona que Powerhaus S.A. de C.V. considere que esté actuando de manera inadecuada o que pongan en riesgo su salud o la salud de los clientes. 
            
            VIGÉSIMO OCTAVO.- Los términos y condiciones descritos en el presente (“Condiciones del Usuario”) serán aplicables para el uso del sitio web y, en particular, para utilizar y recibir los Servicios.
            </p>
          </td>
          <td colspan="3">
            
            <div class="radio">
                <label class="orange"><input type="radio" name="optradio" checked> <strong>  Acepto términos y condiciones</strong></label>
            </div>
            <button class="btn d-block btn-primary" (click)="pay()">Pagar</button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
