@import "var";

.quick-info-widget {
  background: white;
  padding: $spacing;
  border-radius: $border-radius;

  @include mat-elevation($card-elevation);

  .value {
    @include mat-typography-level-to-styles($config, display-1);
  }

  .label {
    @include mat-typography-level-to-styles($config, body-1);
  }

  .icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
  .icondashboard {
    font-size: 28px;
    height: 28px;
    width: 28px;
  }
  .box {
    border: 7px solid #e4e0e0;
    border-radius: 5px;
  }
}
