<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="h1 orange text-center">Join the power!</h1>
      <p class="text-center">¿Ya tienes una cuenta? <a href="#">Inicia sesión</a><br /> o <a href="#">Regístrate</a></p>
      <hr class="line--orange">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Nombre">Nombre</label>
            <input type="text" id="Nombre" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="Apellido">Apellido</label>
            <input type="text" id="Apellido" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="text" id="Email" class="form-control">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Contraseña">Contraseña</label>
            <input type="text" id="Contraseña" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="Confirma">Confirma contraseña</label>
            <input type="text" id="Confirma" class="form-control">
          </div>
        </div>
        <hr class="line--blue">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Contacto">Contacto de emergencia</label>
            <input type="text" id="Contacto" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="Tel">Tel</label>
            <input type="text" id="Tel" class="form-control">
          </div>
        </div>
        <div class="custom-control text-center custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label orange" for="customCheck1">Quiero recibir ofertas y noticias de clases
            especiales.</label>
        </div>
        <p class="orange text-center mt-3 mb-3">Al crear tu cuenta, aceptas los términos y condiciones.</p>
        <p class="text-center">
          <button type="submit" class="btn btn-primary">Crear cuenta</button>
        </p>
      </form>
    </div>
  </div>
</div>