<div class="container">
  <div class="row">
    <div class="col-md-3 mb-5">
      <app-userdata></app-userdata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-sidenav [active]="active" [list]="list"></app-sidenav>
    </div>
    <div class="col-md-9 text-center">
      <h2 class="h2 orange">{{title}}</h2>
      <hr class="line--orange">
      <h3 class="h1 mt-5 mb-5">10 es tu número de suerte, descubre la sorpresa al tomar tu décima clase.</h3>
      <button class="btn btn-primary">Reserva ya!</button>
    </div>
  </div>
</div>