<div class="container"  *ngIf="welcome">
  <div class="row">
    <div class="col-md-3 mb-5">
      <app-userdata></app-userdata>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidenav [active]="active" [list]="list"></app-sidenav>
    </div>
    <div class="col-md-1">
     
    </div>
    <div class="col-md-7">
      <h2 class="h2 orange text-center">{{title}}</h2>
      <hr class="line--orange">
      <div style="text-align: center;">
      <button class="btn btn-outline-primary--orange" (click)="ReservarHiit();">Reserva Ride</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-primary--aqua" (click)="ReservarTrain();">Reserva Train</button>
      </div>
      <hr>
      <h3 class="h1 mt-5 mb-5 text-center" *ngIf="MisPagos.length > 0">¡Has realizado {{ MisPagos.length }} pagos!</h3>
      <h3 class="h3">Pagos recientes</h3>
      <hr>
      <ul class="line-list" *ngIf="MisPagos.length > 0">
        <li class="line-list__item" *ngFor="let pago of MisPagos">
          <h4 class="h4">{{ pago.FechaPago }}</h4>
          <p> Monto: {{ pago.MontoPago }} </p>
          <p>Tarjeta: {{ pago.NumeroTarjeta }} </p>
          <p> Tipo tarjeta: {{ pago.TipoTarjeta }}</p>
          <p> Num. autorizacion: {{ pago.NumAutorizacion }}</p>
        </li>
      </ul>      
    </div>
  </div>
</div>