.mat-card img {
    display:block;
    margin:auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px Important;
    height: 80px Important;
  }
  .mat-card-header_orange {
    background-color:#f04c22;
  }
  .mat-card-header_aqua {
    background-color:#1dcbce;
  }
  .mat-card[_ngcontent-c25] img[_ngcontent-c25] {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20% Important;
    height: 69px;
    max-height: 70px;
}
.mat-card {
    width: 250px;
  }
  .mat-card-image {
    padding: 0;
    width: 250px;
    height: 150px;
  }